.additional {
    // width: auto;
    height: auto;

    &__information {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // height: 450px;
        height: auto;

    }

    &__title {
        margin-top: 30px;
        font-size: 75px;
        font-weight: 700;
        text-align: left;
    }

    &__hourly {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;

        &-item {
            // padding: 15px 0 15px 0;
            text-align: center;
            // width: 160px;
            width: 20%;
            height: auto;
            border-radius: 35px;
            box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(40px);
            background: linear-gradient(133.28deg, rgba(255, 255, 255, 0.18) -0.989%, rgba(255, 255, 255, 0.04) 97.447%);
        }

        &-img {
            width: 70px;
            height: 70px;
            margin-top: 7px;
        }

        &-hour {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
        }

        &-temp {
            font-size: 48px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

.line {
    width: 70%;
}


@media (max-width: 1024px) {
    .additional {
        &__title {
            font-size: 53px;
        }

        &__hourly {
            margin-top: 20px;
            justify-content: space-evenly;
        }

        &__information {
            // flex-wrap: wrap;
        }
    }
}

@media (max-width: 768px) {
    .additional {
        grid-row: 2 / 3;

        &__hourly {}
    }
}

@media (max-width: 480px) {
    .additional {
        grid-row: 3 / 4;
        // grid-row: 3 / 4;

        &__title {
            margin-top: 20px;
            text-align: center;
            font-size: 45px;
        }

        &__information {
            // grid-row: 4 / 5;
            // grid-row: 3 / 4;
            grid-column: 1;
        }

        &__hourly {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &-item {
                width: 100%;
            }

            &-temp {
                font-size: 40px;
            }
        }
    }
}

@media (max-width: 425px) {
    .additional {
        &__hourly {
            grid-row: 2 / 3;

            &-item {
                width: 100%;
            }
        }


    }
}

// @media (max-width: 375px) {
//     .additional {
//         &__hourly {
//             justify-content: center;
//             align-items: center;
//         }
//     }
// }